// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.v-badge__badge{
  width:auto;
  height: auto;
}

.rounded-corner{
  border-radius: 20px; 
}

.float-center-button{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.float-right-bottom{
  bottom: 0;
  right: 0;
}